In [3]:
import pandas as pd
import numpy as np

In [53]:
data1 = pd.read_csv('archive/Alternate Wide Format Files/nmdb-new-mortgage-statistics-all-counts-alt-annual.csv')
data2 = pd.read_csv('archive/Alternate Wide Format Files/nmdb-new-mortgage-statistics-all-volume-alt-annual.csv')
data3 = pd.read_csv('archive/Alternate Wide Format Files/nmdb-new-mortgage-statistics-national-census-areas-counts-alt-annual.csv')

In [51]:
#remove rows where column at index 60 is null
data1 = data1[data1.iloc[:,11].notnull()]

In [54]:
# print null values of all columns in dataset
for i in range(len(data1.isnull().sum())):
    print(i, data1.isnull().sum()[i])

C:\Users\Dell\AppData\Local\Temp\ipykernel_27408\3932364923.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(i, data1.isnull().sum()[i])

0 0
1 0
2 0
3 0
4 0
5 0
6 0
7 0
8 0
9 0
10 0
11 73
12 73
13 73
14 73
15 11
16 11
17 11
18 11
19 11
20 73
21 9421
22 9421
23 73
24 73
25 73
26 73
27 73
28 73
29 73
30 73
31 73
32 73
33 73
34 73
35 73
36 73
37 73
38 73
39 73
40 73
41 73
42 73
43 73
44 73
45 73
46 73
47 73
48 73
49 73
50 73
51 73
52 73
53 9421
54 9421
55 9421
56 9421
57 9421
58 9421
59 9421
60 9421
61 9421
62 9421
63 73
64 73
65 73
66 73
67 73
68 73
69 73
70 73
71 73
72 73
73 73

In [37]:
data1.columns

Index(['SOURCE', 'FREQUENCY', 'GEOLEVEL', 'GEOID', 'GEONAME', 'MARKET',
       'PERIOD', 'YEAR', 'QUARTER', 'MONTH', 'SUPPRESSED', 'TOT_ORIG',
       'AVE_LOANAMT', 'AVE_PROPVAL', 'AVE_INTRATE', 'PCT_INTRATE_LT_3',
       'PCT_INTRATE_3_4', 'PCT_INTRATE_4_5', 'PCT_INTRATE_5_6',
       'PCT_INTRATE_GE_6', 'PCT_OWNOCC', 'PCT_FTHB', 'PCT_REPEATHB', 'PCT_HP',
       'PCT_CASHOUT', 'PCT_OTH_REFI', 'PCT_REFI', 'AVE_TERM', 'PCT_ARM',
       'PCT_TERM_FRM_15', 'PCT_TERM_FRM_30', 'AVE_DTI', 'PCT_DTI_LE36',
       'PCT_DTI_3743', 'PCT_DTI_GE44', 'AVE_VANTAGESCR', 'PCT_VS_VERYPOOR',
       'PCT_VS_POOR', 'PCT_VS_FAIR', 'PCT_VS_GOOD', 'PCT_VS_EXCELLENT',
       'AVE_LTV', 'AVE_CLTV', 'PCT_LTV_LE70', 'PCT_LTV_7080', 'PCT_LTV_8090',
       'PCT_LTV_9095', 'PCT_LTV_9597', 'PCT_LTV_GT97', 'PCT_GOVERNMENT',
       'PCT_ENTERPRISE', 'PCT_OTHERCONFORMING', 'PCT_NONCONFORMING', 'PCT_WHT',
       'PCT_BLK', 'PCT_ASN', 'PCT_HPI', 'PCT_AMI', 'PCT_MIX', 'PCT_HIS',
       'PCT_HSP', 'PCT_WNH', 'PCT_MNH', 'AVE_AGE_BORROWER', 'PCT_AGE_LT25',
       'PCT_AGE_2534', 'PCT_AGE_3544', 'PCT_AGE_4554', 'PCT_AGE_5564',
       'PCT_AGE_GE65', 'PCT_MALEBOR', 'PCT_FEMALEBOR', 'PCT_TWOBOR',
       'PCT_MULTIBOR'],
      dtype='object')

In [36]:
#print 22 column
print(data1.columns[11:15])

Index(['TOT_ORIG', 'AVE_LOANAMT', 'AVE_PROPVAL', 'AVE_INTRATE'], dtype='object')

In [58]:
#rows in data 1 where column 63 is null
data1[data1[data1.columns[60]].isnull()].loc[:,data1.columns[11]]

0        11683.0
1         9497.0
2         7324.0
3        12852.0
4        15402.0
          ...
37423        0.0
37424        0.0
37425        0.0
37426        0.0
37433        NaN
Name: TOT_ORIG, Length: 9421, dtype: float64

In [55]:
temp = pd.read_csv('archive/Annual Data (1998-2021)/All Geographic Areas/nmdb-new-mortgage-statistics-all-annual.csv')

In [56]:
temp.isnull().sum()

SOURCE             0
FREQUENCY          0
SERIESID           0
GEOLEVEL           0
GEOID              0
GEONAME            0
MARKET             0
PERIOD             0
YEAR               0
QUARTER            0
MONTH              0
SUPPRESSED         0
VALUE1        116410
VALUE2        191154
dtype: int64